@model IEnumerable<ConcertBooking.UI.ViewModels.TicketsViewModel.AdminBookingViewModel>

@{
    ViewData["Title"] = "GetAllBookings";
}

<h1>All Bookings</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookingdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcertName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bookingdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
        </tr>
}
    </tbody>
</table>
